/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    } 

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/readData" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    
    withName: NANOPLOT{
        publishDir = [
            path: { "${params.outdir}/readData/nanoplot" },
            mode: params.publish_dir_mode
        ]
    }

    withName: HOMOPOLISH {
        publishDir = [
            path: { "${params.outdir}/assembly/homopolish" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName: FLYE {
        publishDir = [
            path: { "${params.outdir}/assembly/flye" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MEDAKA {
        publishDir = [
            path: { "${params.outdir}/assembly/medaka" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MASH_DIST{
        publishDir = [
            path: { "${params.outdir}/species/mash" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MASH_SKETCH{
        publishDir = [
            path: { "${params.outdir}/species/mash" },
            mode: params.publish_dir_mode
        ]
    }

    withName: ECTYPER {
        publishDir = [
            path: { "${params.outdir}/species/ectyper" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SEQSERO2 {
        publishDir = [
            path: { "${params.outdir}/species/seqsero2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: EMMTYPER {
        publishDir = [
            path: { "${params.outdir}/species/emmtyper" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MOBSUITE_RECON{
        publishDir = [
            path: { "${params.outdir}/characterization/mobRecon" },
            mode: params.publish_dir_mode
        ]      
    }

    withName: AMRFINDERPLUS_RUN{
        publishDir = [
            path: { "${params.outdir}/characterization/amrfinder" },
            mode: params.publish_dir_mode
        ]      
    }

    withName: AMRFINDERPLUS_UPDATE{
        publishDir = [
            path: { "${params.outdir}/characterization/amrfinder" },
            mode: params.publish_dir_mode
        ]      
    }

    withName: REPORT{
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]      
    }

    withName: QUAST{
        publishDir = [
            path: { "${params.outdir}/assembly/quast" },
            mode: params.publish_dir_mode
        ]      
    }

    withName: MULTIQC{
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode
        ]
    }
}
